
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <div style="margin-left:100px;">
        @Html.ActionLink("Check Username", "Demo1", "Account")
        <br />
        @Html.ActionLink("Search AutoComplete", "Demo2", "Account")
        <br />
        @Html.ActionLink("Add User", "Demo3", "Account")
        <br />
        @Html.ActionLink("Delete User", "Demo4", "Account")
        <br />
    </div>
</body>
</html>
